.card {
    width: 95vw;
    max-width: 300px;
    padding: 15px;
    background-color: #fff;
    border-radius: 15px;
}

.card-image {
    width: 100%;
    border-radius: 15px;
}

.card-body {
    text-align: center;
    padding: 0 10px;
}

.card-title {
    font-weight: 700;
    line-height: 1.3em;
    color: hsl(218, 44%, 22%);
}

.card-content {
    font-weight: 400;
    line-height: 1.3em;
    color: hsl(220, 15%, 55%);
}
